In [39]:
import pandas as pd
import numpy as np
from sklearn import metrics

In [40]:
dataset = pd.read_csv('Decision.csv')
dataset

    Id    Age  Income  Gender       Ms Buys
0    1    <21    High    Male   Single   No
1    2    <21    High    Male  Married   No
2    3  21-35    High    Male   Single  Yes
3    4    >35  Medium    Male   Single  Yes
4    5    >35     Low  Female   Single  Yes
5    6    >35     Low  Female  Married   No
6    7  21-35     Low  Female  Married  Yes
7    8    <21  Medium    Male   Single   No
8    9    <21     Low  Female  Married  Yes
9   10    >35  Medium  Female   Single  Yes
10  11    <21  Medium  Female  Married  Yes
11  12  21-35  Medium    Male  Married  Yes
12  13  21-35    High  Female   Single  Yes
13  14    >35  Medium    Male  Married   No

In [41]:
X = dataset.drop(["Buys"], axis=1)

In [42]:
y = dataset["Buys"]

In [43]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()

In [44]:
X = X.apply(LabelEncoder().fit_transform)
X

    Id  Age  Income  Gender  Ms
0    0    1       0       1   1
1    1    1       0       1   0
2    2    0       0       1   1
3    3    2       2       1   1
4    4    2       1       0   1
5    5    2       1       0   0
6    6    0       1       0   0
7    7    1       2       1   1
8    8    1       1       0   0
9    9    2       2       0   1
10  10    1       2       0   0
11  11    0       2       1   0
12  12    0       0       0   1
13  13    2       2       1   0

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [46]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [47]:
y_pred = classifier.predict(X)

print(y_pred)

['No' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'No']

In [48]:
from sklearn.metrics import accuracy_score,confusion_matrix

print('Accuracy Score: {}'.format(accuracy_score(y, y_pred)))
matrix=confusion_matrix(y,y_pred)
matrix

Accuracy Score: 0.9285714285714286

array([[4, 1],
       [0, 9]], dtype=int64)

In [49]:
from six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

In [50]:
dot_data = StringIO()

In [51]:
export_graphviz(classifier,out_file=dot_data,filled=True,rounded=True,special_characters=True)

In [52]:
picture= pydotplus.graph_from_dot_data(dot_data.getvalue())
picture.write_png('decision.png')

True